:root { 
--black_900_7f:#0000007f; 
--cyan_800_b2:#198c92b2; 
--bluegray_900_66:#2e173966; 
--pink_902:#841531; 
--red_600:#e52a48; 
--pink_900:#991737; 
--pink_901:#831530; 
--black_900_3f:#0000003f; 
--pink_900_68:#99163668; 
--black_900:#000000; 
--bluegray_900_b2:#2e1739b2; 
--orange_50_99:#fbecdc99; 
--yellow_900:#fc8d12; 
--orange_300_6b:#ffae546b; 
--black_900_4c:#0000004c; 
--bluegray_100:#d9d9d9; 
--indigo_500_b2:#3963ceb2; 
--orange_300:#ffae54; 
--pink_900_cc:#991636cc; 
--orange_100:#ffd19f; 
--bluegray_900:#2e1739; 
--orange_50:#fbecdc; 
--orange_51:#fceddc; 
--black_900_51:#00000051; 
--cyan_800:#1a8c92; 
--white_A700:#ffffff; 
}